.portfolio{
    padding: 0;
}

.portfolio > h2::after{
    width: 100%;
    left: 0;
}
.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
    padding: 50px 10px;
}

.project > *{
    padding: 10px 20px;
}

.project{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    border: 2px solid var(--pink);
    color: var(--bordo);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.project--img{
    width: 100%;
    display: block;
    height: 100%;
    position: relative;
    object-fit: cover;
    padding: 0;
}

.project--img > img{
    width: 100%;
    height: 100%;
}

.project--title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.2rem;
}

.title-icon{
    position: relative;
    width: 24px;
    height: 24px;
    bottom: -2px;
    left: 5px;
}

.info--tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    padding-bottom: 20px;
    overflow: hidden;
}

.info--tag{
  height: 36px;
}

@media ( min-width: 768px) {
    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
    }   

    .project {
        flex: 1 1 calc(50% - 15px);
        max-width: calc(50% - 15px);
    }

    .project:hover{
        transform: translateY(-8px);
        box-shadow: 0px 0px 10px var(--bordo);
    }
}

@media ( min-width: 1280px) {
    .project {
        flex: 1 1 calc(100% / 4 - 15px);
        max-width: calc(100% / 4 - 15px);
    }
}