.projects {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 15px;
    width: 100%;
    margin-top: 50px;
}

.project > *{
    padding: 10px 20px;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    padding-bottom: 20px;
    border: 1px solid var(--bordo);
    background-color: var(--bordo);
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}


.project--img{
    width: 100%;
    display: block;
    padding: 0;

    aspect-ratio: 16 / 9;
    position: relative;
    object-fit: cover;
}

.project--img>img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px  0 0 ;
}

.info--tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    max-height: 56px;
    overflow: hidden;
}

.info--features{
    padding: 20px;
}

.tag{
    padding: 5px 10px;

    height: 36px;
    color: var(--bordo);
    background-color:#fff ;
    border-radius: calc(46px / 2);
}



@media ( min-width: 768px) {
    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
    }   
    .project {
        flex: 1 1 calc(50% - 15px);
        max-width: calc(50% - 15px);
    }
    .project:hover{
        transform: translateY(-8px);
        box-shadow: 0px 0px 10px var(--bordo);
    }
}

@media ( min-width: 1280px) {
    
    .project {
        flex: 1 1 calc(100% / 3 - 15px);
        max-width: calc(100% / 3 - 15px);
    }
}