.project-bg{
    position: relative;
    min-height: 100vh;
    background-color: var(--bordo);
    padding: 100px 0 5vh 0;
}

.project-bg > *{
    position: relative;
    z-index: 2;
}

.logo-container{
    position: absolute;
    top: 0;
    left: 0;
}

.project-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--bordo);

}

.project-block{
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 30px 5vh;
    background-color: var(--beige);
    color: var(--bordo);
}

.head--name{
    font-size: 45px;
    padding-bottom: 20px
}

.head--buttons-wrap{
    display: flex;
    flex-direction: column;
    padding-top: 20px ;
    margin-top: auto;
    gap: 20px;
}

.head-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid var(--bordo);
    background-color:var(--bordo);
    color: var(--beige);
}

.head-link:hover{
    transform: translateY(-3px);
    box-shadow: 0px 0px 10px var(--bo);
}

.head-link > img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.block--img{
    overflow: hidden;
}

.block--img > img{
    width: 112%;
}

.title{
    position: relative;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.title::after{
    content: '';
    display: block;
    width: 100%;
    background-color: var(--bordo);
    height: 1px;
    margin-bottom: 10px;
}

.block--scills{
    justify-content: start;
}

.technologies{
    padding-bottom: 20px;
}

.technologies-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.technologies-tag{
    padding: 10px;
    background-color: var(--gray);
    color: var(--beige);
    border-radius: 5px;
}

.head--feautures{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 10px;
    font-weight: 600;
}

.feature{
    display: flex;
}

.feature-icon{
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.block--img{
    display: none;
}

.gallery{
    position: relative;
    display: flex;
    gap: 40px;
    overflow: hidden;
    border: 1px solid var(--bordo);
    border-radius: 10px;
    aspect-ratio: 6/4;
}

.gallery-img { 
    position: absolute;
    border-radius: inherit;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.3s ease;
}
.gallery-img--target{
    transform: translateX(0);
}

.gallery-img--no-target {
    display: none;
}

.gallery-circles{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    bottom: 15px;
    left: 0;
}

.circle{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--beige);
    transition: all .3s;
} 
.circle-terget{
    background-color: var(--bordo);
}
/*  */

.gallery-btn-wrap{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    bottom: calc(50% - 25px);
    left: 0;
}

.gallery-btn{
    background-color: var(--beige);
    width: 25px;
    height: 25px;
    color: var(--bordo);
}

.btn-right > img{
    transform: rotate(180deg);
}



@media (min-width: 786px) {
    .project-bg {
       padding: 100px 5vh 5vh 5vh;
    }   

    .head--buttons-wrap{
        flex-direction: row;
    }
}


@media (min-width: 1024px) {
    .project-wrap{
        flex-direction: row;
    }

    .project-block{
        flex: 1 1 45%;
    }

    .project--buttons-wrap{
        flex-direction: row;
    }
    
    .block--img{
        display: block;
        padding: 0; 
    }

    .block--img, .row-galery{
        display: flex;
    
    }

    .block--scills > div{
        height: 50%;
    }

    .block--scills, .block--gallery{
        margin-top: 20px;
    }

    .buttons-wrap-footer{
        flex: none;
        width: 100%;
        max-width: 100%;
        padding-right: 20px;
        justify-content: space-around;
    }
}