
main{
    color: var(--bordo);
    background-color: var(--beige);
    padding: 5vh;
}
.main-conteiner{
    min-height: 100vh;
    padding: 5vh 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-conteiner > p{
    text-align: center;
    padding-top: 20px;
}
.main-grid{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}
.grid-element{
    display: flex;
    justify-content: center;
}

.scill{
    width: 130px;
    height: 50px;

    background-color: var(--bordo);
    color: var(--beige);
    text-shadow: none;

    padding: 10px;
    border: 1px solid var(--beige);
    border-radius: 25px;
}

@media (min-width: 768px) {
    main{
        padding: 0 15vh;
    }

    .main-conteiner{
        min-height: auto;
        padding: 10vh 0;
    }
    .scill:hover{
        transform: translateY(-8px);
        box-shadow: 0px 0px 10px var(--bordo);
    }
}

@media (min-width: 1024px) {
    main{
        /* padding: 0 20vh; */
    }
}