.project{
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    
    min-height: 400px;
    border: 1px solid #fff;
    padding: 20px;
    flex: 1 1 100%;
    background-color: #fff;
    color: black;
}
.project img{
    height: 200px;
    margin-bottom: 20px;
}
.project-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.project-links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    
}
.project-links a{
    width: calc(50% - 40px);
}

.project-links button{
   width: 100%;
}


@media (min-width: 768px) {
    .project{
        flex: 1 1 calc(50% - 24px);
        max-width: calc(50% - 24px) ;
    }
}
@media (min-width: 1280px) {
    .project{
        flex: 1 1 calc(33.333% - 24px);
        max-width: calc(33.333% - 24px);
    }
}