.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    margin-top: 50px;
}

.project{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex: 1 1 100%;
    padding: 20px;
    border: 1px solid var(--bordo);
}

.project--img {
    display: flex;
    align-items: center;

    width: 40%
}

.project--img > img{
    width: 100%;
    aspect-ratio: 1 / 1;
}

.project--description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

.info--tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 0;
    color: var(--gray);
}

.project--buttons-wrap{
    display: flex;
    align-items: center;
    gap: 20px;    
}

.project-links {
    background-color: var(--bordo);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
}

.project-links:hover {
    border: 2px solid var(--bordo);
}


@media ( min-width: 1024px) {
    .projects {
        width: 80%;
    }
    .project {
        flex-direction: row;
    }
}