.project{
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 100%;

    width: 100%;
    min-height: 400px;
    border: 1px solid var(--bordo);
    padding: 20px;

    background-color: var(--bordo);
    color: var(--beige);
}
.project img{
    height: 200px;
    margin-bottom: 20px;
}
.project-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.project-links{
    display: flex;
    justify-content: space-around;

    width: 100%;
    padding: 20px 0;
    
}
.project-links a{
    width: calc(50% - 40px);
}

.project-links button {
    width: 100%;

    background-color: var(--beige);
    color: var(--bordo);
}


@media (min-width: 768px) {
    .project{
        flex: 1 1 calc(50% - 24px);
        max-width: calc(50% - 24px) ;
    }
}
@media (min-width: 1280px) {
    .project{
        flex: 1 1 calc(33.333% - 24px);
        max-width: calc(33.333% - 24px);
    }
}