*{
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

:root {
  --black: #000;
  --beige:  #e8e5e5;
  --gray: #403e3e;
  --rosa: #eb0779;

  --creme: #eee4da;
  --sand: #d8c4ac;
  --pink: #c8a49f;
  --bordo: #4d0e13;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;      /* 16px */
  line-height: 1.6;
  color: var(--beige);
}
a {
  text-decoration: none;
  color: var(--beige);
}

img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}


h1 {
  font-size: clamp(2.5rem, 5vw, 4rem); /* 40–64px */
  text-shadow: 0px 0px 15px var(--bordo);
}

h2 {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 40px;

  font-size: clamp(2rem, 4vw, 3rem);   /* 32–48px */
  text-align: center;
}

h2::before{
  content: '▾';
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--bordo)  ;
  background-color: var(--creme);
  font-size: 40px;
  z-index: 2;
}

h2::after{
  content: "";
  display: block;
  position: relative;
  width: calc(100% +  10vh);
  height: 1px;
  left: -5vh;
  margin-top: 20px;

  background-color: var(--bordo);
}


h3 {
  font-size: clamp(1.5rem, 3vw, 2rem); /* 24–32px */
}

button {
  width: 200px;
  height: 50px;
  padding: 10px; 

  background-color: var(--bordo);
  border-radius: 25px;
  
  color: var(--creme);
  text-transform: uppercase;
  transition: box-shadow 0.3s ease 0s;
}

button:active{
  opacity: 0.7;
}

.tag{
  padding: 5px 15px;

  background-color: var(--pink);
  color: var(--bordo);
  border: 1px solid var(--bordo);
  border-radius: 25px;
}


@media (min-width: 768px) {
  h2{
    min-width: 20%;
    width: auto;
  }
  h2::after{
    width: 140%;
    left: -20%;
  }
  .btn-wrap{
    display: block;
    border-radius: 25px;
  }
  .btn-wrap:hover{
    -webkit-box-shadow: 0px 0px 12px 5px  var(--bordo); 
    box-shadow: 0px 0px 12px 5px var(--bordo);
}
}

