*{
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bordo: rgb(94, 6, 6);
  --beige: rgb(254, 253, 223);
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;      /* 16px */
  line-height: 1.6;
  color: var(--beige);
}
a {
  text-decoration: none;
  color: var(--beige);
}

img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}


h1 {
  font-size: clamp(2.5rem, 5vw, 4rem); /* 40–64px */
  text-shadow: 0px 0px 15px #000;

}

h2 {
  display: block;
  position: relative;
  min-width: 20%;
  padding-bottom: 20px;

  font-size: clamp(2rem, 4vw, 3rem);   /* 32–48px */
  text-align: center;
}

h2::before{
  content: '▾';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--beige);
  font-size: 40px;
  z-index: 2;
}

h2::after{
  content: "";
  display: block;
  position: relative;
  width: 140%;
  height: 1px;
  left: -20%;
  margin-top: 20px;

  background-color: var(--bordo);
  
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem); /* 24–32px */
}

button {
  width: 200px;
  height: 50px;
  margin-top: 20px;

  background-color: var(--bordo);
  border-radius: 25px;
  color: var(--beige);
  text-transform: uppercase;
  transition: box-shadow 0.3s ease 0s;
}

@media (min-width: 1024px) {
  button:hover{
    -webkit-box-shadow: 0px 0px 12px 5px  var(--beige); 
    box-shadow: 0px 0px 12px 5px var(--beige);
  }
}