footer{
    padding: 5vh;
    display: flex;
    min-height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-content > a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer-icon{
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    
}